<div class = 'day-component'>
	<div class = 'day-of-week-header'>
		<div class = 'day-of-week'>
			{{dayOfWeek date}}
		</div>
		<div class = 'date'>
			{{formatDate date}}
		</div>
	</div>
	<button class='add-deed-button'>+</button>
	{{#each deeds as |deed|}}
	<div class="deed-in-day">
		{{#deed-component date=weekDay.day}}
        {{/deed-component}}
	</div>    
{{/each}}
</div>
{{yield}}
