<div class = 'execution-component'>
	<Input class='execution-component-element' @type='checkbox'/>
	<div class='executioner execution-component-element'>Имя пользователя</div>
	<div class='execution-date execution-component-element'>01.01.2021</div>
</div>
{{yield}}