<div class='current-user'>{{this.currentUser}}</div>
<WeekComponent @weekData={{this.weekData}} />
{{#if this.showSubwindow}}
<div class='screen-locker'></div>
<Subwindow>
	<ChangeDeedComponent/>
</Subwindow>
{{/if}}
{{yield}}