<div class='subwindow'>
	<div class='subwindow-header'>
		<button class='subwindow-close' type="button" {{action 'close'}}>X</button>
	</div>
	<div class='subwindow-content'>
		{{yield}}
	</div>
</div>

