<div class = 'week-component'>
{{#each this.weekDays as |weekDay|}}
	<div class="week-day">
		<DayComponent @date={{weekDay.day}} @weekData={{this.weekData}}>
        </DayComponent>
	</div>    
{{/each}}
</div>

{{yield}}